.Todos{
    border:solid #888888 1px;
    box-shadow: 10px 10px 8px #888888;
    border-radius: 4px;
    display: flex;
    flex-direction: column; 
    align-items:  stretch;
    input[type=text] {
        flex: 1 1 auto;
        background-color: #fcfcfc;
        background-image: url('../../images/003-filter.svg');
        background-position: 10px 10px; 
        background-repeat: no-repeat;
        background-size: 20px;
        padding: 12px 20px;
        padding-left: 40px;
        //width: 100%;
       
        margin: 8px 10px;
        box-sizing: border-box;
        border-radius: 4px;
        color: #555;
        border: 1px solid #555;
        box-shadow: 10px 10px 8px #888888;
     &:focus{
        background-color: #fefefe;
        
     }
    }
    .TodosList{
        flex: 1 1 auto;
        
        .Item{
            height: 80px;
            margin: 8px 0;
        box-sizing: border-box;
        border-radius: 4px;
        color: #555;
        border: 1px solid #555;
        box-shadow: 5px 5px 3px #888888;
        display: grid;
       // grid-template-rows: 50% 50%;
        grid-template-columns: 1fr 5fr 50px;
        grid-template-areas: "props title status";
                             //"props title status"; 
            .status{
                grid-area:status;
               
            background-position: 10px 50%;
        background-repeat: no-repeat;
        background-size: 20px;
        padding: 12px 20px;
        background-image: url('../../images/002-cross.svg');
                &.ok{
                    background-image: url('../../images/001-tick.svg');
                }
                    
                
            }
            .title{
                grid-area:title;
                padding: 10px;
                border-right:solid 1px #cecece;
            }
            .props{
                padding: 10px;
                grid-area:props;
                border-right:solid 1px #cecece;
            }
        }
    }
    
}