.Todos{
    border:solid red 1px;
    display: flex;
    flex-direction: column; 
    align-items:  stretch;
    input[type=text] {
        flex: 1 1 auto;
        background-color: white;
        background-image: url('../../images/003-filter.svg');
        background-position: 10px 10px; 
        background-repeat: no-repeat;
        background-size: 20px;
        padding: 12px 20px;
        padding-left: 40px;
        width: 50%;
       
        margin: 8px 0;
        box-sizing: border-box;
        border-radius: 4px;
        color: #555;
        border: 3px solid #555;
     &:focus{
        background-color: #fcfcfc;
        width: 100%;
     }
    }
    .TodosList{
        flex: 1 1 auto;
        
        .Item{
            height: 80px;
            margin: 8px 0;
        box-sizing: border-box;
        border-radius: 4px;
        color: #555;
        border: 3px solid #555;

        display: grid;
       // grid-template-rows: 50% 50%;
        grid-template-columns: 1fr 5fr 50px;
        grid-template-areas: "props title status";
                             //"props title status"; 
            .status{
                grid-area:status;
               
            background-position: 10px 50%;
        background-repeat: no-repeat;
        background-size: 20px;
        padding: 12px 20px;
        background-image: url('../../images/002-cross.svg');
                &.ok{
                    background-image: url('../../images/001-tick.svg');
                }
                    
                
            }
            .title{
                grid-area:title;
            }
            .props{
                grid-area:props;
            }
        }
    }
}